[include mainsail.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_45001A000F50415833323520-if00
restart_method: command

[mcu EBB]
canbus_uuid: b33aeef36a93


[virtual_sdcard]
path: /home/dunga/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000
